body {
  color: #333;
  font-family: Verdana, sans-serif;
  margin: 0px;
}

header {
  text-align: right;
  /* 右そろいのやり方 */
  padding: 10px;
  background-image: url(../img/header.png);
  /* 背景に画像を使うやり方 */
  height: 240px;
  background-size: cover;
  /* 縦横比を保持したままなるべく大きく表示 */
  background-position: 50% 50%;
  /* 画像の拡大を中央を起点に変わるようにする */
  margin-bottom: 60px;
}

header ul { /*header内にある全てのul要素に適応*/
  margin: 0;
  list-style-type: none;
  padding-left: 0px;
}

header li {
  display: inline-block;
  padding: 4px 8px;
  font-size: 12px;
}

header li > a {
  /* header内のli直下にあるa要素 */
  text-decoration: none;
  /* 下線を消す */
  color: inherit;
  /* inheritは親要素の意 */
}
header li > a:hover {
  color: royalblue;
  /* マウスがのったとき色が変わる */
}

.current {
  border-bottom: 4px solid royalblue;
  /*currentタグに青の下線をつけた*/
}

section {
  text-align: center;
  /* 中央揃いのやりかた */
}

section h1 {
  font-weight: normal;
  /* 太字を標準になおした */
  margin-bottom: 8px;
}

section p {
  text-align: center;
  margin-top: 0px;
  font-size: 14px;
}

.icon {
  /* border-radiusは境界線を丸くする */
  /* border-radius: 70px; */
  border-radius: 50%;
  /* border-color: pink;
  border-width: 5px;
  border-style: solid;  実線をいれる
  下は上3つの省略系*/
  border: 5px solid white;
  /* box-shadow: x方向のズレ y方向のズレ ぼかいぐあい 色;
  box-shadowは陰をいれる。
  */
  box-shadow: 0px 0px 5px gray;
}

.works {
  width: 400px;
  /* margin-left: auto; autoは自動であわせてくれる
  margin-right: auto; */
  margin: 60px auto;
  border-bottom: 1px solid gray;
}

.works > section {
  margin-bottom: 40px;
}

.works h1,p {
  text-align: left;
}

footer {
  width: 400px;
  margin: 0px auto 60px;
}
footer ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0px;
  float: left;
  /* floatは通常の要素より浮かせて配置する */
}

footer li {
  display: inline-block;
}

footer li > a:hover {
  opacity: 0.6;
  /* opacityは透明度を変える */
}

footer p {
  color: lightgray;
  font-size: 14px;
  text-align: right;
}
.about {
  width: 400px;
  margin: 0px auto 60px;
}

.about p {
  text-align: left;
}
